/* Header Section Style Start... */

.search-input-field {
    border-radius: 50px 0 0 50px !important;
}

.search-btn {
    border-radius: 0 50px 50px 0 !important;
}

.text {
    border: 1px solid lightgray;
    border-radius: 50px;
}

/* Carousel slider start... */

.carousel-items-one {
    background-color: #FEEAE9;
}

.carousel-items-one .price {
    color: #FF136F
}

.carousel-items-one .price {
    color: #FF136F
}

.carousel-items-one .buy-now-btn {
    background-image: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    border: none;
}

/* Carousel slider end... */


/* Header Section Style End... */



/* Categories style start... */

.categories-link {
    text-decoration: none;
}

.cartegory-one {
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}

.cartegory-two {
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}

.cartegory-three {
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}

/* Categories style end... */



/* Main Section Style Start... */

.main-section {
    background-color: #F4F4F4;
}


/* Main Section Style End... */



/* Newsletter Start... */

.newsletter-bg {
    height: 400px;
    background-color: #FEEAE9;
}


.newsletter-submit-btn {
    background-image: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    border: none;
}

/* Newsletter End... */